<a href="https://colab.research.google.com/github/LongNguyen1984/DeepLearning/blob/master/ImportRawData2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install sinfo

Collecting sinfo
  Downloading https://files.pythonhosted.org/packages/e1/4c/aef8456284f1a1c3645b938d9ca72388c9c4878e6e67b8a349c7d22fac78/sinfo-0.3.1.tar.gz
Collecting stdlib_list
  Downloading https://files.pythonhosted.org/packages/7a/b1/52f59dcf31ead2f0ceff8976288449608d912972b911f55dff712cef5719/stdlib_list-0.8.0-py3-none-any.whl (63kB)
     |████████████████████████████████| 71kB 3.9MB/s
Building wheels for collected packages: sinfo
  Building wheel for sinfo (setup.py) ... done
  Created wheel for sinfo: filename=sinfo-0.3.1-cp36-none-any.whl size=7018 sha256=3f54a2c0267afeb273374439958fba77d611e777ceaa6e69270c3b021d0f2fb6
  Stored in directory: /root/.cache/pip/wheels/11/f0/23/347d6d8e59787c2bc272162d18223dc3b45bd6dc40aceee6af
Successfully built sinfo
Installing collected packages: stdlib-list, sinfo
Successfully installed sinfo-0.3.1 stdlib-list-0.8.0

### Cài đặt thư viện hàm module 1

In [2]:
! git clone https://github.com/taile2007/Biosignal-analysis.git

Cloning into 'Biosignal-analysis'...
remote: Enumerating objects: 155, done.
remote: Counting objects: 100% (155/155), done.
remote: Compressing objects: 100% (138/138), done.
remote: Total 155 (delta 73), reused 17 (delta 5), pack-reused 0
Receiving objects: 100% (155/155), 6.48 MiB | 15.96 MiB/s, done.
Resolving deltas: 100% (73/73), done.

### Chuyển tới thư mục để nạp module 1

In [3]:
%cd Biosignal-analysis/Data\ wrangling-01-Importation

/content/Biosignal-analysis/Data wrangling-01-Importation

### Thông tin gói thực hành

In [4]:
import sys
import re
import numpy as np
import pandas as pd
from module1.raw_data_parser import *

In [5]:
from sinfo import sinfo
sinfo()

-----
module1     0.1
numpy       1.19.5
pandas      1.1.5
pytz        2018.9
sinfo       0.3.1
tqdm        4.41.1
-----
IPython             5.5.0
jupyter_client      5.3.5
jupyter_core        4.7.0
notebook            5.3.1
-----
Python 3.6.9 (default, Oct  8 2020, 12:12:24) [GCC 8.4.0]
Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
2 logical CPU cores, x86_64
-----
Session information updated at 2021-01-12 08:34

# Tái chọn mẫu dữ liệu

In [7]:
PACK_FOLDER = '/content/drive/MyDrive/Dataset/Packs'

pack = Paths_Info_Summary(PACK_FOLDER)
pinfo = pack.create_signal_summary()

pinfo.head()

                                          full_paths  ...  Size (Mb)
0  /content/drive/MyDrive/Dataset/Packs/Res_signa...  ...   3.304411
1  /content/drive/MyDrive/Dataset/Packs/Res_signa...  ...   4.410931
2  /content/drive/MyDrive/Dataset/Packs/Res_signa...  ...   4.401841
3  /content/drive/MyDrive/Dataset/Packs/Res_signa...  ...  67.016486
4  /content/drive/MyDrive/Dataset/Packs/Res_signa...  ...  48.448591

[5 rows x 5 columns]

# Chọn mẫu và dán nhãn bằng class DataSampler

Quy trình thí nghiệm gồm ba giải đoạn


1.   Tần số lấy mẫu giảm từ 32Hz còn 10Hz
2.   Cửa sổ quan sát là 10s
3.   Lọc bỏ tất cả những phân đoạn trạng thải tỉnh

## Mô tả quy trình

In [10]:
db = Data_Sampler(samp_freq = 10,
                 raw_data_folder = PACK_FOLDER,
                 df_paths = pinfo,
                 patient_id = 'Res_signal_samp',
                  size = 100,
                 overlap = 0.5)

Tải thành công kênh SpO2
Tải thành công chuỗi Hypnogram
Tải thành công chuỗi biến cố hô hấp
Tải thành công chuỗi biến cố vi thức giấc
Đồng bộ hóa thành công tất cả kết quả PSG scoring
Khởi động tác vụ song song, tải 4 kênh tín hiệu

HBox(children=(FloatProgress(value=0.0, max=4.0), HTML(value='')))

Tải và tái chọn mẫu thành công kênh tx rip
Tải và tái chọn mẫu thành công kênh flow th
Tải và tái chọn mẫu thành công kênh abd rip
Tải và tái chọn mẫu thành công kênh oesp

Đã tải xong 4 kênh tín hiệu
Hoàn tất tải dữ liệu thô
Áp dụng lấy mẫu tăng cường, kích thước = 100, tỉ lệ overlap = 0.5
Hoàn tất công đoạn lấy mẫu
Dán nhãn xong cho Biến cố vi thức
Dán nhãn xong cho Biến cố hô hấp
Dán nhãn xong cho Hypnogram

In [11]:
db

Đây là data base cho pack dữ liệu Res_signal_samp

In [12]:
db.patient_db.keys()

dict_keys(['ID', 'SpO2', 'Raw_signal', 'Resp_evt', 'Hypno', 'MA', 'Sampling'])

### Cấu trúc dữ liệu chọn mẫu

In [13]:
db.patient_db['ID']

'Res_signal_samp'

In [14]:
db.patient_id

'Res_signal_samp'

### Tín hiệu SpO2

In [15]:

db.patient_db['SpO2']

2017-09-30 22:52:18+02:00           97.0
2017-09-30 22:52:18.100000+02:00    97.0
2017-09-30 22:52:18.200000+02:00    97.0
2017-09-30 22:52:18.300000+02:00    97.0
2017-09-30 22:52:18.400000+02:00    97.0
                                    ...
2017-10-01 06:19:23.500000+02:00    96.0
2017-10-01 06:19:23.600000+02:00    96.0
2017-10-01 06:19:23.700000+02:00    96.0
2017-10-01 06:19:23.800000+02:00    96.0
2017-10-01 06:19:23.900000+02:00    96.0
Freq: 100L, Name: spo2, Length: 268260, dtype: float64

### Dataframe 4 kênh tín hiệu hô hấp

In [16]:
db.patient_db['Raw_signal']

                                  tx rip  flow th  abd rip   oesp
2017-09-30 22:52:18+02:00         -351.0    133.0    -22.0  -99.3
2017-09-30 22:52:18.100000+02:00  -670.0     48.0    -20.0  -99.4
2017-09-30 22:52:18.200000+02:00  -813.0    -22.0    -16.0  -99.4
2017-09-30 22:52:18.300000+02:00  -908.0    -91.0    -12.0 -100.4
2017-09-30 22:52:18.400000+02:00  -946.0   -160.0     -8.0  -99.8
...                                  ...      ...      ...    ...
2017-10-01 06:19:23.500000+02:00  -111.0    135.0    260.0 -100.3
2017-10-01 06:19:23.600000+02:00   -94.0     55.0    148.0  -99.6
2017-10-01 06:19:23.700000+02:00   -74.0     -8.0     64.0  -99.4
2017-10-01 06:19:23.800000+02:00   -50.0    -65.0    -12.0  -99.8
2017-10-01 06:19:23.900000+02:00   -24.0   -113.0    -88.0  -98.5

[268260 rows x 4 columns]

### Thông tin về các biến cố mục tiêu

In [17]:
db.patient_db['Resp_evt'].keys()

dict_keys(['Evt_list', 'Raw', 'Label', 'Code'])

In [18]:
db.patient_db['Resp_evt']['Evt_list']

                          evt_start  ... evt_value
0  2017-09-30 23:20:53.900000+02:00  ...       4.0
1  2017-09-30 23:22:36.400000+02:00  ...       3.0
2  2017-09-30 23:23:20.600000+02:00  ...       4.0
3  2017-09-30 23:25:38.400000+02:00  ...       2.0
4  2017-09-30 23:26:12.100000+02:00  ...       2.0
..                              ...  ...       ...
81 2017-10-01 05:43:48.900000+02:00  ...       1.0
82 2017-10-01 05:46:38.400000+02:00  ...       3.0
83 2017-10-01 05:47:17.300000+02:00  ...       2.0
84 2017-10-01 06:06:28.400000+02:00  ...       4.0
85 2017-10-01 06:08:02.500000+02:00  ...       2.0

[86 rows x 4 columns]

In [19]:
db.patient_db['Resp_evt']['Raw']

                                  value
2017-09-30 23:00:00+02:00             0
2017-09-30 23:00:00.100000+02:00      0
2017-09-30 23:00:00.200000+02:00      0
2017-09-30 23:00:00.300000+02:00      0
2017-09-30 23:00:00.400000+02:00      0
...                                 ...
2017-10-01 06:15:30.400000+02:00      2
2017-10-01 06:15:30.500000+02:00      2
2017-10-01 06:15:30.600000+02:00      2
2017-10-01 06:15:30.700000+02:00      2
2017-10-01 06:15:30.800000+02:00      2

[261309 rows x 1 columns]

In [20]:
db.patient_db['Resp_evt']['Label']

      Resp_score  Resp_lab
0            0.0       0.0
1            0.0       0.0
2            0.0       0.0
3            0.0       0.0
4            0.0       0.0
...          ...       ...
5359         0.0       0.0
5360         0.0       0.0
5361         0.0       0.0
5362         0.0       0.0
5363         0.0       0.0

[5364 rows x 2 columns]

In [22]:
db.patient_db['Resp_evt']['Code']

{'CA': 6, 'CH': 4, 'FL': 1, 'MA': 8, 'OA': 5, 'OH': 3, 'RERA': 2}

### Thông tin về indexing và labelling

In [23]:
db.patient_db['Sampling']['Label']

       start     end  Hypno_score  Hypno_lab  Resp_score  Resp_lab
0      16550   16650         30.0        1.0         0.0       0.0
1      16600   16700         80.0        1.0         0.0       0.0
2      16650   16750        100.0        1.0         0.0       0.0
3      16700   16800        100.0        1.0         0.0       0.0
4      16750   16850        100.0        1.0         0.0       0.0
...      ...     ...          ...        ...         ...       ...
4862  265650  265750        100.0        2.0       100.0       2.0
4863  265700  265800        100.0        2.0       100.0       2.0
4864  265750  265850        100.0        2.0       100.0       2.0
4865  265800  265900        100.0        2.0       100.0       2.0
4866  265850  265950         70.0        2.0        70.0       2.0

[4867 rows x 6 columns]

In [24]:
db.patient_db['Sampling']['Windows']

       start     end
0          0     100
1         50     150
2        100     200
3        150     250
4        200     300
...      ...     ...
5359  267950  268050
5360  268000  268100
5361  268050  268150
5362  268100  268200
5363  268150  268250

[5364 rows x 2 columns]

### Algorithm dán nhãn

### Lưu dữ liệu thành pickle file

In [25]:
db.save_to_pickle()

Lưu thành công gói dữ liệu cho bệnh nhân Res_signal_samp